body {
    margin: 0;
    padding: 0;
    font-family: montserrat, arial, verdana;
    background-color: #c5f1ff; /* Dark Navy Blue */
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    border: 10px solid #d9d9d9; /* Yellow border */
}


.reset-container {
    background-color: white;
    padding: 20px;
    border-radius: 25px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
    color: #003366;
    width: 350px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-image {
    width: 30%; 
    height: auto;
    border-radius: 5px;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
}

.input-group input {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #666666;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #ffd966;
    border: none;
    border-radius: 4px;
    color: #003366;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

button:hover {
    background-color: #ffff;
}

.additional-links {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.additional-links a {
    color: #003366;
    text-decoration: none;
}

.additional-links a:hover {
    text-decoration: underline;
}

.home-link {
    color: #010562;
    text-decoration: none;
    position: absolute;
    bottom: 20px; /* Position near the bottom */
}

.home-link:hover {
    text-decoration: underline;
}
